html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
.img-src {
    position: fixed;
    background-position: center;
    -webkit-background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.blurred-img {
    opacity: 0;
}
#background, #blurredbackground {
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#background {
    background-image: url('back/background.jpg');
    z-index: -5;
}
#blurredbackground {
    background-image: url('back/backgroundblur.jpg');
    z-index: -5;
}
 #filter {
    width: 100%;
    height:105%;
    background-color: #090d0e;
    opacity: 0.55;
    position: fixed;
    z-index: -4;
}
html, body {
    width: 100%;
    height:100%;
}
body {
    margin: 0;
    overflow: auto;
    font-family:'Lora', serif;
    font-size: 18px;
    font-weight: lighter;
    background: #383539;
}
/*FONT STYLES */
 h1 {
    text-decoration: none;
    font-family:'Dosis', sans-serif;
    font-weight: thin;
    -webkit-font-smoothing: antialiased;
    font-size: 45px;
    letter-spacing: 5px;
    margin-top: 20px;
        color: #d6bbac;
}
h2 {
    font-size: 100px;
    letter-spacing: 25px;
    font-weight: normal;
    font-family:'Raleway', sans-serif;
    padding: 0;
    color: white;
    margin: 5% 0 0 0;
}
h3 {
    font-size: 20px;
    font-family:'Raleway', sans-serif;
    font-weight: normal;
    margin: 0 0 10px 0;
    color: #c7afa2;
}
.accent1 {
    color: #9C9F84;
}
a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
    font-weight: thin;
    -webkit-font-smoothing: antialiased;
}
a:hover {
    color:#9C9F84;
}

/* CLASSES */
 .Lora {
    -webkit-font-smoothing: antialiased;
    font-family:'Lora', serif;
}
.serif {
    font-family: serif;
}
.singlelink {
    width: 400px;
    height: auto;
    padding: 2px;
    line-height: 52px;
   font-family: sans-serif;
    font-weight: thin;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    letter-spacing: 4px;
    color: white;
    cursor: pointer;
    margin-top: 15%;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.singlelink:hover {
    background: rgba(129, 109, 98, .05);
    border: 1px solid #816d62;
    color: #efd7ca;
}
.page {
    padding-top: 40px;
    padding-bottom: 15%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.leftdiv {
    float: left;
}
.centerdiv {
    display: inline-block;
}
.rightdiv {
    float: right;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.white {
    color:white;
}
/* NAVIGATION */
 nav {
    position: fixed;
    float: right;
    width: 100%;
    height: 50px;
    z-index: 25;
    background: rgba(53, 53, 51, .02);
    overflow: hidden;
    -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
nav:hover{
        background: rgba(53, 53, 51, .50);
}




#logo {
    height: 50px;
    width: 110px;
    font-family:'Dosis', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size:18px;
    letter-spacing: 5px;
    font-weight: normal;
    text-align: left;
    line-height: 50px;
    cursor: default;
    float: left;
}
#N_wrap {
    width: 80%;
    position: relative;
}
#links {
    float: right;
    line-height: 50px;
    font-size: 14px;
}
#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#links li {
    display: inline;
}
#links ul li a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: thin;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    letter-spacing: 2px;
    color: #c3c7a6;
    padding: 20px;
    transition: all 0.2s ease;
}
#links ul li a:hover {
    background: rgba(53, 53, 51, .50);
}
/* SPLASH PAGE */

#splash {
    height:105%;
    position: relative;
}
#header {
    position:absolute;
    top: 50%;
    margin-top: -145px;
    margin-left: -200px;
    left: 50%;
    width:390px;
    height:250px;
    text-align: center;
    padding: 5px;
    color:;
    font-family: "Raleway";
}
#s_arrow {
    position: absolute;
    bottom: 10%;
    width: 25px;
    height: 25px;
    /*horizontal centering: */
    margin: 0px 0 0 -16px;
    left: 50%;
    background-image: url(img/hscroll.png);
    opacity: 0.6;
    display: none;
}
/*   END OF SPLASH PAGE   */

#Quote {
    width:100%;
    min-height: 200px;
    height: auto;
    background: rgba(129, 109, 98, .40);
}
/* ABOUT */
 #About {
    width: 100%;
    min-height: 105%;
    min-width: 750px;
    height: auto;
    text-align: center;
    position:relative;
    background: rgba(129, 109, 98, .20);
    color: white;
    padding-bottom: 15%;
}
#A_wrap {
    width: 80%;
    margin-top: 10%;
    height: auto;
    position: relative;
    line-height: 24px;
}
#A1, #A2, #A3 {
    width:30%;
    text-align: left;
    font-size: 14px;
    line-height: 25px;
}
/*  END OF ABOUT */
 #Projects {
    width: 100%;
    min-height: 105%;
    height: auto;
    text-align: center;
    position: relative;
    background: rgba(102, 90, 85, 0.15);
    font-size: 16px;
}
#P_wrap {
    width: 80%;
    margin-top: 5%;
    height: 750px;
    position: relative;
    color: white;
}
#P1, #P2, #P3 {
    height: 450px;
    width: 30%;
    line-height: 450px;
}
#P1 {
}
#P2 {
}
#P3 {
}
#github {
    bottom: 0;
    position: absolute;
}

/* FIND ME  */
 #Findme {
    width: 100%;
    min-width: 750px;
    min-height: 550px;
    height:auto;
    padding-top: 40px;
    padding-bottom: 5%;
    text-align: center;
    position: relative;
    background: rgba(129, 109, 98, .20);
    color: white;
}

#F_linkwrap {
    margin-top: 2%;
    width: 500px;
    line-height:30px;
color: #c7afa2;
}
.f_link {
    display: inline-block;
    width: 90px;
    height: 20px;
    border: 1px solid #c7c9ba;
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 25px;
    margin:20px;
    font-family: sans-serif;
    font-weight: thin;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    letter-spacing: 4px;
    color: white;
}
.f_link:hover {
    background: rgba(225, 225, 225, 0.1);
    border: 1px solid white;
    color: #efd7ca;
    -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}



footer {
    position: relative;
    width: 100%;
    height: 100px;
    font-size: 12px;
    text-align: center;
    line-height: 100px;
    color: gray;
    background: rgba(129, 109, 98, .1);
}
#attribution {
    font-family: "Dosis";
    font-size: 14px;
    position: absolute;
    bottom:1%;
    opacity: 0.4;
    right: 5%;
}
